@media only screen and (max-width: 500px) {
    .navbar-brand {
        margin-left: 15%;
    }
    button .navbar-toggler {
        border: 2px solid red;
    }
    .navbar-brand {
        font-size: 2rem !important;
    }
    .navbar-nav {
        margin-left: 15px;
        padding: 5px;
    }
    .right img {
        width: 100%;
        margin-left: 5%;
        padding-bottom: 15%;
    }
    #about_me {
        margin: 1% 1% 5% 5%;
    }
    .gallary .row .column img {
        width: 20%;
        margin: 10px 15px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 500px) {
    .navbar-brand {
        padding-left: 0px;
    }
    button .navbar-toggler {
        border: 2px solid red;
    }
    .right img {
        width: 70%;
        margin-left: 17%;
    }
}