@media only screen and (max-width: 500px) {
    .navbar-brand {
        padding-left: 0px;
    }
    button .navbar-toggler {
        border: 2px solid red;
    }
    .container-fluid {
        display: none;
    }
    #navbar_brand {
        display: block;
    }
    .navbar-brand {
        font-size: 2rem !important;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 500px) {
    .navbar-brand {
        padding-left: 0px;
    }
    button .navbar-toggler {
        border: 2px solid red;
    }
    .container-fluid {
        display: none;
    }
    #navbar_brand {
        display: block;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-left: 35px;
    }
}