* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


/* ************************************************ Variable *********************************** */

:root {
    --color: slateblue;
    --letter-spacing: 0.1rem;
    --font: 'Montserrat', serif;
}


/* ************************************************* Global **************************************** */

#section_headline :not(span) {
    letter-spacing: var(--letter-spacing);
}

#section_headline span {
    color: var(--color);
}


/* ***************************************************Scroll Button************************************************** */

#myBtn {
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: all 0.5s ease;
}

#myBtn:hover {
    opacity: 0.8;
    /* Add a dark-grey background on hover */
}

.scroll_top .fas {
    color: rgb(33, 0, 247);
}


/* ********************************Navbar************************************ */

nav {
    padding: 10px 0px !important;
}

#navbar_brand {
    display: none;
}

.navbar {
    transition: all 0.3s ease-in-out;
}

.navbar-brand {
    font-size: 1.5rem !important;
    color: slateblue !important;
    padding-left: 5%;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0.1rem;
    background: slateblue;
    transition: width 0.3s;
    color: white;
}

.navbar-toggler {
    width: 50px;
    height: 10%;
    background-color: #0058fc;
    color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
    color: white;
}

.navbar-light .navbar-nav .nav-item {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--font);
    color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: white;
}

.navbar-nav .last_child {
    margin-right: 15px;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.fas {
    transition: all 0.5s ease;
}

.navbar-nav a {
    font-size: 0.7rem !important;
    color: white;
}


/* ************************************************* Banner Section ************************************** */

.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/unpllash2.jpg);
    height: 100vh;
    background-attachment: fixed;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left_header {
    margin-bottom: 10%;
    color: whitesmoke;
}

.top .header_container {
    letter-spacing: 0.1rem;
    padding: 10px;
    height: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header_container .top_header,
.bottom_header {
    font-family: var(--font);
    color: white;
    font-weight: lighter;
}

.header_container .top_header span {
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 10%, transparent 10%, transparent 100%);
    background-color: #f1c40f;
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 5s infinite linear;
    font-weight: bolder;
}

@keyframes shine {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: -120% 0;
    }
}

.header_container .bottom_header p span {
    color: #f1c40f;
}

.header_container .bottom_header p {
    font-size: 1rem;
}

.header_container .bottom_header p .cursor {
    display: inline-block;
    background-color: white;
    width: 3px;
    animation: blink 0.8s infinite;
}

.header_container .bottom_header p .Animation {
    animation: none;
}

.header_container a {
    text-decoration: none;
    color: white;
}

.header_button {
    border: 1px solid #f1c40f;
    padding: 5px 25px;
    transition: background-color 0.5s ease;
}

.header_button:hover {
    background-color: #f1c40f;
    color: black;
}

.header_container a:hover {
    text-decoration: none;
}

@keyframes blink {
    0% {
        background-color: white;
    }
    49% {
        background-color: white;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}


/* ****************************************************** About Section ********************************************* */

.about_row {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    font-weight: 1200px;
}

.about_row .right {
    height: 100%;
}

.about_row .right {
    position: relative;
}

.about_row .left::after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 50px;
    border: 100px solid;
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
    height: 5%;
    width: 5%;
}

.about_row .right::after {
    content: " ";
    position: absolute;
    top: 20px;
    left: 80px;
    border: 100px solid;
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
    height: 5%;
    width: 5%;
}

.left {
    font-family: var(--font);
    text-align: center;
}

.left p {
    text-align: left;
}

.left .button {
    text-decoration: none;
    line-height: 50px;
    color: black;
    border: 2px solid slateblue;
    padding: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 5%;
    font-size: 0.8rem;
}

.left .button:hover {
    text-decoration: none;
    color: black;
    background-color: slateblue;
    transition: background-color 0.2s ease-in;
}

.left .social_links a:hover {
    text-decoration: none;
}

.skill_section_title {
    letter-spacing: 0.2rem;
}

.tech_section_title {
    letter-spacing: 0.1rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px 0px 2px;
}

.fas {
    color: white;
}

.fa:hover {
    opacity: 0.7;
    color: black;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #dd4b39;
    color: white;
}


/* ****************************************************Skill Bars*************************************************** */

.skillbars {
    min-height: 60vh;
    max-width: 100vw;
    margin-bottom: 25px;
}

.hero {
    height: 100px;
    margin: 25px auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.skill_row {
    max-width: 100vw;
    padding: 0px 50px;
    margin: 10px 55px;
}

#skill_selection {
    height: auto;
    max-width: 100vw;
}

.container {
    width: 60%;
    margin: 0px auto;
    font-family: var(--font);
}

.progress {
    width: 100%;
    background-color: grey;
    margin-bottom: 10px;
}

.progress .progerss_bar {
    width: 0;
    height: 100%;
    background-color: slateblue;
    transition: all 1s ease;
    position: relative;
}

.progerss_bar span {
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
}

.container p {
    margin: 0;
}


/* ********************************************************* Work gallary******************************************* */

.gallary .row .column img {
    width: 8%;
    margin: 10px 15px;
}

.gallary .work_gal {
    text-align: center;
}

.gallary {
    min-height: 30vh;
    max-width: 100%;
    margin-top: 150px;
    font-family: var(--font) !important;
    position: relative;
}

.gallary::after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.1;
    z-index: -1;
    height: 120%;
    width: 100%;
    clip-path: polygon(47% 22%, 81% 41%, 100% 29%, 100% 53%, 80% 58%, 48% 43%, 15% 60%, 0 45%, 0 26%, 16% 43%);
}

.gallary .column {
    margin: 25px 0px;
}


/* *************************************Achademics Part********************************** */

.education_section {
    min-height: 30vh;
    margin: 5% 5px;
    padding: 20px 0px;
    font-family: var(--font);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)), url(Images/Edubackground.png);
}

.education {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 800;
}

.education .box {
    min-height: 40%;
    width: 400px;
    /* background-color: black; */
    margin: 20px;
    border-left: 5px double var(--color);
    padding: 10px 5px 10px 25px;
    font-style: italic;
}

.education .box .contents {
    margin-top: 5%;
}

.education .box ul {
    margin-left: 25px;
}


/* **************************************************Projects Section********************************************* */

.projects {
    width: 100vw;
    max-height: 100vh;
}

.projects .card {
    width: 100%;
    margin-bottom: 80px !important;
    margin: auto;
}


/* *******************************modal************************ */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    margin: 50px !important;
    padding: 10px !important;
    width: 30px !important;
    height: 50px !important;
    background: red no-repeat center center;
    background-color: blueviolet !important;
    background-size: 101% 100%;
}

.carousel-inner>.carousel-item>img {
    width: 640px;
    height: 360px;
}